body {
  margin: 0 auto;
  padding: 0 auto;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.list {
  padding: 5%;
  display: block;
  justify-content: center;
  text-align: center;
  width: 300px;
  font-size: 20px;
  border-radius: 20%;
  border: 1px solid gray;
}

.friend {
  margin: 20px;
  text-align: center;
}

.avatar {
  width: 100px;
}
